################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ToDo.API/.vs
/ToDo.API/ToDo.API/obj
/ToDo.API/ToDo.API/bin
